name: Build, Push And Deploy To Production

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  BUILD_BUILDNUMBER: ${{github.run_number}}
  COMPOSE_PROJECT_NAME: "tnk"
  DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
  DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
  BUILD_ENV: ${{secrets.MAIN_ENV}}
  REMOTE_DOCKER_HOST: ${{secrets.MAIN_DOCKER_HOST}}
  DOCKER_CA_PEM: ${{secrets.MAIN_DOCKER_CA_PEM}}
  DOCKER_CERT_PEM: ${{secrets.MAIN_DOCKER_CERT_PEM}}
  DOCKER_KEY_PEM: ${{secrets.MAIN_DOCKER_KEY_PEM}}

jobs:
  buildAndPush:
    name: Build And Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Docker Login
        uses: docker/login-action@v3.0.0
        with:
          username: ${{env.DOCKER_USERNAME}}
          password: ${{env.DOCKER_PASSWORD}}

      - name: Create build env file
        run: |
          echo "${{env.BUILD_ENV}}" >> .env
          echo "BUILD_BUILDNUMBER=${{env.BUILD_BUILDNUMBER}}" >> .env
          echo "COMPOSE_PROJECT_NAME=${{env.COMPOSE_PROJECT_NAME}}" >> .env

      - name: Build Docker Image
        run: docker compose build

      - name: Push Docker Image
        run: docker compose push

  deploy:
    name: Deploy Resources
    runs-on: ubuntu-latest
    needs: buildAndPush

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Docker Login
        uses: docker/login-action@v3.0.0
        with:
          username: ${{env.DOCKER_USERNAME}}
          password: ${{env.DOCKER_PASSWORD}}

      - name: Create runtime env file
        run: |
          echo "${{env.BUILD_ENV}}" >> .env
          echo "${{env.DOCKER_CA_PEM}}" >> ca.pem
          echo "${{env.DOCKER_CERT_PEM}}" >> cert.pem
          echo "${{env.DOCKER_KEY_PEM}}" >> key.pem
          echo "BUILD_BUILDNUMBER=${{env.BUILD_BUILDNUMBER}}" >> .env
          echo "COMPOSE_PROJECT_NAME=${{env.COMPOSE_PROJECT_NAME}}" >> .env

      - name: Deploy Docker Container
        run: |
          docker --tlsverify \
                 --tlscacert=./ca.pem \
                 --tlscert=./cert.pem \
                 --tlskey=./key.pem \
                 -H ${{env.REMOTE_DOCKER_HOST}} \
                 compose --env-file=.env up -d

      - name: Clean dangling docker components
        run: |
          docker --tlsverify \
                 --tlscacert=./ca.pem \
                 --tlscert=./cert.pem \
                 --tlskey=./key.pem \
                 -H ${{env.REMOTE_DOCKER_HOST}} \
                 system prune -f -a
